*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
 
   gap: 2px;
  height: 70vh;
  width: 100vw;

}
.topheader{
  background-color:#0f1111;
  
  border: 1px solid black;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 20px;
  align-content: center;
  justify-content: space-around;
}
.subheader{
  width: 100vw;
  height:60px ;
  background-color: #2b3030;
  display: flex;
  color: beige;
  justify-content: space-around;
  padding-top: 15px;
}
.child1{
  height: 100%;
  width:340px;
background-color : red;
display: flex;
flex-direction: column
;
}
.child12{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
  gap:10px;
}
.child121{
  height:130px;
  width:120px;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  margin: 6px;
}
.footer{
  background-color: #131A22;
  color: #DDDD;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 200px;
}
.F1{
  display: flex;
  flex-direction: column;
}