#h1{
  height:250px;
  width:250px;
  border-radius:50px;
}
#card{
  border:2px solid black;
  width:300px;
  height:500px;
  text-align:center;
  background-color: chocolate;
  color:green;
}
.c1{
  height:100vh;
  width:100vw;
  display:grid;
   grid-template-columns: 600px 600px;
   grid-template-rows: 600px 600px;
  gap:10px;
}